body {
    font-family: Arial, sans-serif;
    margin: 2em;
}


* {

    box-sizing: border-box;
  
  }


.topnav {
    overflow: hidden;
    background-color: #333333;
  
  }
  



  .banner {
  
    background-color: #888888;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  
  .container {
  
    background-color: #ffffff;
    overflow: auto;
    display: flex;
  }
  
  
  .menu {
    width: 20%;
    background-color: #00ff00;
    text-align: center;
  }
  
  
  .main {
  
    background-color: #0000ff;
    width: 60%;
    padding: 0 20px;
    height: 20%;
  }
  
  
  .right {
    text-align: center;
    background-color: #dddddd;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
  }
  
  
  .footer {
  
    background-color: #dddddd;
    padding: 10px;
    margin-top: 7px;
    text-align: center;
  }

  .topnav a {

    color: #f2f2f2;
  
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    text-align: center;
  } 
  
  
  .menu a {
    display: block;
    background-color: #ddd;
    width: 100%;
    text-decoration: none;
    padding: 8px;
    margin-top: 7px;
  
  }

  @media only screen and (max-width: 620px) {

    .menu, .main, .right {
  
      width: 100%;
  
    }

    .container {
      flex-direction: column;
    }
  
  }