h1 {
    color: red;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-style: italic;
    background-color: rgba(238, 130, 238, 0.5);
}

body {
    /*
    background-color: rgb(28, 127, 167);*/
    background-image: url('https://www.w3schools.com/w3images/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

h2.sombra {

    text-shadow: 3px 2px red;
  
  }

p.dotted {border-style: dotted;}

p.dashed {border-style: dashed;}

p.solid {border-style: solid;}

p.double {border-style: double;}

p.groove {border-style: groove;}

p.ridge {border-style: ridge;}

p.inset {border-style: inset;}

p.outset {border-style: outset;}

p.none {border-style: none;}

p.hidden {border-style: hidden;}

p.mix {border-style: dotted dashed solid double;}